

@{
    ViewBag.Title = "AdminPartialHeader";
}





          <p style="padding-top:10px;font-size:70px;margin-bottom:0px"> &nbsp; <img src="~/Content/images/logo1.jpg" style="height:70px ;
          width:70px" /> JF Lab's</p> <span style="font-size:20px;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  </span>

          <p style="padding-top:5px;font-size:30px;margin-bottom:0px">  &nbsp; Exploring the future  </p> <span style="font-size:20px;">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  </span>

    <nav class="navbar navbar-inverse" style="border:none;background:#f25858;margin-bottom:20px;margin-top:8px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                <li class="act">

                    <a href="/Admin/index" style="color: white; font-family: 'Times New Roman'; font-size: 35px"<p margin-bottom:5px"></p><b><span class="glyphicon glyphicon-home"></span>&nbsp;  Home </b></a>

                </li>

                

            </ul>


            <ul class="nav navbar-nav navbar-right" style="">

                <li><a href="/Admin/LogOut" style="color: white; font-family: 'Times New Roman'; font-size: 35px"<p style="padding-top:10px"> </p><b><span></span> Logout </b> </a></li>
            </ul>


        </div>
    </div>
</nav>
