<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog - Space Science Website Template</title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mobile.css">
    <script src="~/Content/Scripts/mobile.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="/Home/index" class="logo"><img src="../../Content/images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li class="menu">
                        <a href="/Home/projects">Projects</a>

                    </li>
                    <li class="menu">
                        <a href="/Home/blog">Blog</a>

                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="body">
            <div class="header">
                <div>
                    <h1>The Complex Material Engineering of NASA's Webb Telescope Sunshield</h1>
                    <div class="article">
                        <img src="../../Content/images/mlm.JPG" alt="" width="694" height="300">
                        <h1>Article</h1>
                        <p>
                            NASA and its industry partners developed a lightweight, robust way to protect the telescope and mirrors from the sun’s infrared radiation in the material that makes up the sunshield. Some of the things that make the sunshield unique are its strong yet ultra-thin material, special kite-like shape, and the special role of its layers.

                            Material Make-up

                            The sunshield consists of five layers of a material called Kapton. Each layer is coated with aluminum, while sun-facing side of the two hottest layers (designated Layer 1 and Layer 2)  also have a "doped-silicon" (or treated silicon) coating to reflect the sun's heat back into space. The sunshield is a critical part of the Webb telescope because the infrared cameras and instruments aboard must be kept very cold and out of the sun's heat and light to function properly.

                            Kapton is a polyimide film that was developed by DuPont in the late 1960s. It has high heat-resistance and remains stable across a wide range of temperatures from minus 269 to plus 400 Celsius (minus 452 to plus 752 degrees Fahrenheit). It does not melt or burn at the highest of these temperatures. On Earth, Kapton polyimide film can be used in a variety of electrical and electronic insulation applications.
                        </p>
                        <p>The sunshield layers are also coated with aluminum and doped-silicon for their optical properties and longevity in the space environment. Doping is a process where a small amount of another material is mixed in during the Silicon coating process so that the coating is electrically conductive. The coating needs to be electrically conductive so that the Membranes can be electrically grounded to the rest of JWST and will not build up a static electric charge across their surface. Silicon has a high emissivity, which means it emits the most heat and light and acts to block the sun’s heat from reaching the infrared instruments that will be located underneath it. The highly-reflective aluminum surfaces also bounce the remaining energy out of the gaps at the sunshield layer's edges.</p>
                    </div>
                    <div class="sidebar">
                        <ul>
                            <li>
                                <h1>FEATURED POSTS</h1>
                                <a href="/Projects/disasterRobot"><img src="../../Content/images/webpage pic/IMG_1649.JPG" alt="100" width="500" height="200"></a>
                                <h2>Disaster Robot</h2>

                            </li>
                            <li>
                                <h1>RECENT POSTS</h1>
                                <ul>
                                    <li>
                                        <a href="/Projects/reliefRobot"><img src="../../Content/images/webpage pic/12247089_856860037760639_1513201077845676980_n.jpg" alt="" width="60" height="60"></a>
                                        <h2>Relief robot</h2>
                                    </li>
                                    <li>
                                        <a href="/Projects/cnc"><img src="../../Content/images/webpage pic/13698097_1249351448408937_546562346590393894_o.jpg" alt="" width="50" height="50"></a>
                                        <h2>cnc 2d plotter</h2>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="connect">
                <div>
                    <h1>FOLLOW OUR  MISSIONS ON</h1>
                    <div>
                        <a href="https://www.facebook.com/jflabspakistan" class="facebook">facebook</a>
                        <a href="https://twitter.com/jflabspakistan" class="twitter">twitter</a>
                        <a href="" class="googleplus">googleplus</a>
                        <a href="" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote">
                <div>
                    <p>&copy; 2020 BY jf lab | ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>