<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog - Space Science Website Template</title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mobile.css">
    <script src="~/Content/Scripts/mobile.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="/Home/index" class="logo"><img src="../../Content/images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li class="menu">
                        <a href="/Home/projects">Projects</a>

                    </li>
                    <li class="menu">
                        <a href="/Home/blog">Blog</a>

                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="body">
            <div class="header">
                <div>
                    <h1>Aurora South of Australia</h1>
                    <div class="article">
                        <img src="../../Content/images/kljljll.JPG" alt="" width="764" height="348">
                        <h1>Article</h1>
                        <p>On June 24, 2016, Expedition 48 Commander Jeff Williams of NASA photographed the brilliant lights of an aurora from the International Space Station. Sharing the image on social media, Williams wrote, "We were treated to some spectacular aurora south of Australia today." </p>
                        <p>The dancing lights of the aurora provide stunning views, but also capture the imagination of scientists who study incoming energy and particles from the sun. Aurora are one effect of such energetic particles, which can speed out from the sun both in a steady stream called the solar wind and due to giant eruptions known as coronal mass ejections or CMEs.</p>
                    </div>
                    <div class="sidebar">
                        <ul>
                            <li>
                                <h1>FEATURED POSTS</h1>
                                <a href="/Projects/disasterRobot"><img src="../../Content/images/webpage pic/IMG_1649.JPG" alt="100" width="500" height="200"></a>
                                <h2>Disaster Robot</h2>

                            </li>
                            <li>
                                <h1>RECENT POSTS</h1>
                                <ul>
                                    <li>
                                        <a href="/Projects/reliefRobot"><img src="../../Content/images/webpage pic/12247089_856860037760639_1513201077845676980_n.jpg" alt="" width="60" height="60"></a>
                                        <h2>Relief robot</h2>
                                    </li>
                                    <li>
                                        <a href="/Projects/cnc"><img src="../../Content/images/webpage pic/13698097_1249351448408937_546562346590393894_o.jpg" alt="" width="50" height="50"></a>
                                        <h2>cnc 2d plotter</h2>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="connect">
                <div>
                    <h1>FOLLOW OUR  MISSIONS ON</h1>
                    <div>
                        <a href="https://www.facebook.com/jflabspakistan" class="facebook">facebook</a>
                        <a href="https://twitter.com/jflabspakistan" class="twitter">twitter</a>
                        <a href="" class="googleplus">googleplus</a>
                        <a href="" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote">
                <div>
                    <p>&copy; 2020 BY jf lab | ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>