<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog - Space Science Website Template</title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mobile.css">
    <script src="~/Content/Scripts/mobile.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="/Home/index" class="logo"><img src="../../Content/images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li class="menu">
                        <a href="/Home/projects">Projects</a>

                    </li>
                    <li class="menu selected">
                        <a href="/Home/blog">Blog</a>

                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
        <div id="body">
            <div class="header">
                <div>
                    <h1>Blogs</h1>
                    <div class="article">
                        <ul>
                            <li>
                                <a href="/Articles/article"><img src="../../Content/images/mlm.JPG" alt="" width="694" height="225"></a>
                                <h1>The Complex Material Engineering of NASA's Webb Telescope Sunshield</h1>

                                <p>The shiny silver material of the five-layer sunshield that will fly aboard NASA's James Webb Space Telescope is a complex and innovative feat of material science and engineering. Each layer is made from a unique composite material, each has a specific thickness and size, and they must be precisely separated in space. There are even special seams and reinforcements to limit meteorite damage.</p>
                                <a href="/Articles/article" class="more">Read More</a>
                            </li>
                            <li>
                                <a href="/Articles/article1"><img src="../../Content/images/zdsbms.JPG" alt="" width="521" height="225"></a>
                                <h1>Successful Deployment of University Satellites From Space Station</h1>
                                <p>Expedition 46 flight engineer Tim Peake of ESA captured this photo on Jan. 29, 2016 from the International Space Station, as the robotic arm in Japan's Kibo laboratory successfully deployed two combined satellites from Texas universities. The pair of satellites-AggieSat4 built by Texas A&amp;M University students, and BEVO-2 built by University of Texas students together form the Low Earth Orbiting Navigation Experiment for Spacecraft Testing Autonomous Rendezvous and Docking (LONESTAR) investigation.</p>
                                <a href="/Articles/article1" class="more">Read More</a>
                            </li>
                            <li>
                                <a href="/Articles/article2"><img src="../../Content/images/jjlj.JPG" alt="" width="300" height="250"></a>
                                <h1>Researching 3D Printing Technology on the Space Station</h1>
                                <p>Crew members on the International Space Station re-installed the first 3D printer in orbit, during the week of June 27, 2016, to continue research on the developing technology and how it can be used in space. NASA astronaut Jeff Williams installed the printer in the Microgravity Science Glovebox to begin another round of sample builds for NASA's 3D Printing in Zero-G Technology Demonstration. Williams took this photograph of the 3D printer on June 28, after installation. The 3D printer, originally delivered to the station and tested in 2014, heats a relatively low-temperature plastic filament to build parts layer by layer using designs supplied to the machin</p>
                                <a href="/Articles/article2" class="more">Read More</a>
                            </li>
                            <li>
                                <a href="/Articles/article3"><img src="../../Content/images/kljljll.JPG" alt="" width="200" height="250"></a>
                                <h1>Aurora South of Australia</h1>
                                <p>On June 24, 2016, Expedition 48 Commander Jeff Williams of NASA photographed the brilliant lights of an aurora from the International Space Station. Sharing the image on social media, Williams wrote, "We were treated to some spectacular aurora south of Australia today."</p>
                                <a href="/Articles/article3" class="more">Read More</a>
                            </li>
                            <li>
                                <a href="/Articles/article4"><img src="../../Content/images/3-5-2011cheetah.jpg" alt="" width="270" height="250"></a>
                                <h1>
                                    DARPA's Cheetah Bot Breaks Human, Robot Speed Records<br>
                                </h1>
                                <p>The Defense Advanced Research Projects Agency (DARPA) and Boston Dynamics have unleashed a legged robot that's even faster than Olympic champion Usain Bolt. The Cheetah recently broke its own land speed record of 18 mph, running a 20-meter split at 28.3 mph, faster than the world record for a human set in 2009 when Usain Bolt reached a peak speed of 27.78 mph.</p>
                                <a href="/Articles/article4" class="more">Read More</a>
                            </li>
                            <li>
                                <a href="/Articles/article5"><img src="../../Content/images/LS3-BostonDynamics-3.lr.jpg" alt="" width="200" height="250"></a>
                                <h1>LS3 - Legged Squad Support Systems</h1>
                                <p>LS3 is a rough-terrain robot designed to go anywhere Marines and Soldiers go on foot, helping carry their load. Each LS3 carries up to 400 lbs of gear and enough fuel for a 20-mile mission lasting 24 hours. LS3 automatically follows its leader using computer vision, so it does not need a dedicated driver. It also travels to designated locations using terrain sensing and GPS. LS3 began a 2-year field testing phase in 2012. LS3 isfunded by DARPA and the US Marine Corps.</p>
                                <a href="/Articles/article5" class="more">Read More</a>
                            </li>

                        </ul>
                    </div>
                    <div class="sidebar">
                        <ul>
                            <li>
                                <h1>FEATURED POSTS</h1>
                                <a href="/Projects/disasterRobot"><img src="../../Content/images/webpage pic/IMG_1649.JPG" alt="100" width="500" height="200"></a>
                                <h2>Disaster Robot</h2>

                            </li>
                            <li>
                                <h1>RECENT POSTS</h1>
                                <ul>
                                    <li>
                                        <a href="/Projects/reliefRobot"><img src="../../Content/images/webpage pic/12247089_856860037760639_1513201077845676980_n.jpg" alt="" width="60" height="60"></a>
                                        <h2>Relief robot</h2>
                                    </li>
                                    <li>
                                        <a href="/Projects/cnc"><img src="../../Content/images/webpage pic/13698097_1249351448408937_546562346590393894_o.jpg" alt="" width="50" height="50"></a>
                                        <h2>cnc 2d plotter</h2>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="connect">
                <div>
                    <h1>FOLLOW OUR  MISSIONS ON</h1>
                    <div>
                        <a href="https://www.facebook.com/jflabspakistan" class="facebook">facebook</a>
                        <a href="https://twitter.com/jflabspakistan" class="twitter">twitter</a>
                        <a href="" class="googleplus">googleplus</a>
                        <a href="" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote">
                <div>
                    <p>&copy; 2023 BY SPACE PROSPECTION | ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>