<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proj1 - Space Science Website </title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mobile.css">
    <script src="~/Content/Scripts/mobile.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="/Home/index" class="logo"><img src="../../Content/images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li class="menu">
                        <a href="/Home/projects">Projects</a>

                    </li>
                    <li class="menu">
                        <a href="/Home/blog">Blog</a>

                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="body">
            <div class="header">
                <div>
                    <h1>apollo LUNAR LANDER</h1>
                    <img src="../../Content/images/moon-landing.jpg" alt="">
                    <h2>description about Apollo Lunar lander</h2>
                    <p>
                        The Apollo Lunar Module (LM), originally designated the Lunar Excursion Module (LEM), was the lander portion of the Apollo spacecraft built for the US Apollo program by Grumman Aircraft to carry a crew of two from lunar orbit to the surface and back. Designed for lunar orbit rendezvous, it consisted of an ascent stage and descent stage, and was ferried to lunar orbit by its companion Command and Service Module (CSM), a separate spacecraft of approximately twice its mass, which also took the astronauts home to Earth. After completing its mission, the LM was discarded. It was capable of operation only in outer space; structurally and aerodynamically it was incapable of flight through the Earth's atmosphere. The Lunar Module was the first, and to date only, manned spacecraft to operate exclusively in the airless vacuum of space.After achieving a lunar parking orbit, the Commander and LM Pilot entered and powered up the LM, replaced the hatches and docking equipment, unfolded and locked its landing legs, and separated from the CSM, flying independently. The Commander operated the flight controls and engine throttle, while the Lunar Module Pilot operated other spacecraft systems and kept the Commander informed on systems status and navigational information. After visual inspection of the landing gear by the Command Module Pilot, the LM was withdrawn to a safe distance, then the descent engine was pointed forward into the direction of travel to perform the 30 second Descent Orbit Insertion burn to reduce speed and drop the LM's perilune to within approximately 50,000 feet (15 km) of the surface,[4] about 260 nautical miles (480 km) uprange of the landing site.

                        At this point, the engine was started again for Powered Descent Initiation. During this time the crew flew on their backs, depending on the computer to slow the craft's forward and vertical velocity to near zero. Control was exercised with a combination of engine throttling and attitude thrusters, guided by the computer with the aid of landing radar. During the braking phase altitude decreased to approximately 10,000 feet (3.0 km), then the final approach phase went to approximately 700 feet (210 m). During final approach, the vehicle pitched over to a near-vertical position, allowing the crew to look forward and down to see the lunar surface for the first time.
                    </p>
                    <p>
                        Finally the landing phase began, approximately 2,000 feet (0.61 km) uprange of the targeted landing site. At this point manual control was enabled for the Commander, and enough fuel reserve was allocated to allow approximately two minutes of hover time to survey where the computer was taking the craft and make any necessary corrections. (If necessary, landing could have been aborted at almost any time by jettisoning the descent stage and firing the ascent engine to climb back into orbit for an emergency return to the CSM.) Finally, 66 inch (1676 mm) long probes extending from three footpads of the lander touched the surface, activating the contact indicator light which signaled time for descent engine cutoff, allowing the LM to settle on the surface.

                        When ready to leave the Moon, the LM would separate the descent stage and fire the ascent engine to climb back into orbit, using the descent stage as a launch platform. After a few course correction burns, the LM would rendezvous with the CSM and dock for transfer of the crew and rock samples. Having completed its job, the LM was separated and sent into solar orbit or to crash into the Moon.
                    </p>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="connect">
                <div>
                    <h1>FOLLOW OUR  MISSIONS ON</h1>
                    <div>
                        <a href="https://www.facebook.com/jflabspakistan" class="facebook">facebook</a>
                        <a href="https://twitter.com/jflabspakistan" class="twitter">twitter</a>
                        <a href="" class="googleplus">googleplus</a>
                        <a href="" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote">
                <div>
                    <p>&copy; 2020 BY JF Labs | ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>