<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proj1 - Space Science Website </title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mobile.css">
    <script src="~/Content/Scripts/mobile.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="/Home/index" class="logo"><img src="../../Content/images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li class="menu">
                        <a href="/Home/projects">Projects</a>

                    </li>
                    <li class="menu">
                        <a href="/Home/blog">Blog</a>

                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="body">
            <div class="header">
                <div>
                    <h1>Autonomous path finder robot</h1>
                    <img src="../../Content/images/webpage pic/20160508_162833.jpg" alt="" width="1401" height="500">
                    <h2>Autonomous path finder robot machanisum</h2>
                    <p>Some modern factory robots are "Autonomous" within the strict confines of their direct environment. It may not be that every degree of freedom exists in their surrounding environment, but the factory robot's workplace is challenging and can often contain chaotic, unpredicted variables. The exact orientation and position of the next object of work and (in the more advanced factories) even the type of object and the required task must be determined. This can vary unpredictably (at least from the robot's point of view). One important area of robotics research is to enable the robot to cope with its environment whether this be on land, underwater, in the air, underground, or in space. </p>
                    <p>
                        A fully autonomous robot can Gain information about the environment. Work for an extended period without human intervention
                        Move either all or part of itself throughout its operating environment without human assistance Avoid situations that are harmful to people, property, or itself unless those are part of its design specifications an autonomous robot may also learn or gain new knowledge like adjusting for new methods of accomplishing its tasks or adapting to changing surroundings.
                        Like other machines, autonomous robots still require regular maintenance
                        Chat Con
                    </p>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="connect">
                <div>
                    <h1>FOLLOW OUR  MISSIONS ON</h1>
                    <div>
                        <a href="https://www.facebook.com/jflabspakistan" class="facebook">facebook</a>
                        <a href="https://twitter.com/jflabspakistan" class="twitter">twitter</a>
                        <a href="" class="googleplus">googleplus</a>
                        <a href="" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote">
                <div>
                    <p>&copy; 2020 BY JF Labs | ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>