<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proj1 - Space Science Website </title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mobile.css">
    <script src="~/Content/Scripts/mobile.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="/Home/index" class="logo"><img src="../../Content/images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li class="menu">
                        <a href="/Home/projects">Projects</a>

                    </li>
                    <li class="menu">
                        <a href="/Home/blog">Blog</a>

                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="body">
            <div class="header">
                <div>
                    <h1>cnc 2d plotter </h1>
                    <img src="../../Content/images/webpage pic/13698097_1249351448408937_546562346590393894_o.jpg" alt="" width="1401" height="500">
                    <h2>Description about cnc machines</h2>
                    <p>CNC stands for Computer Numerical Control. This means a computer converts the design produced by Computer Aided Design software (CAD), into numbers. The numbers can be considered to be the coordinates of a graph and they control the movement of the pen. In this way the computer controls the writing and shaping of the word or picture. CNC is the short form for Computer Numerical control. We have seen that the NC machine works as per the program of instructions fed into the controller unit of the machine. The CNC machine comprises of the mini computer or the microcomputer that acts as the controller unit of the machine. While in the NC machine the program is fed into the punch cards, in CNC machines the program of instructions is fed directly into the computer via a small board similar to the traditional keyboard. </p>
                    <p>
                        In CNC machine the program is stored in the memory of the computer. The programmer can easily write the codes, and edit the programs as per the requirements. These programs can be used for different parts, and they don’t have to be repeated again and again.
                        Compared to the NC machine, the CNC machine offers greater additional flexibility and computational capability. New systems can be incorporated into the CNC controller simply by reprogramming the unit. Because of its capacity and the flexibility the CNC machines are called as “soft-wired" NC.
                    </p>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="connect">
                <div>
                    <h1>FOLLOW OUR  MISSIONS ON</h1>
                    <div>
                        <a href="https://www.facebook.com/jflabspakistan" class="facebook">facebook</a>
                        <a href="https://twitter.com/jflabspakistan" class="twitter">twitter</a>
                        <a href="" class="googleplus">googleplus</a>
                        <a href="" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote">
                <div>
                    <p>&copy; 2020 BY JF Labs | ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>