<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proj1 - Space Science Website </title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mobile.css">
    <script src="~/Content/Scripts/mobile.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="/Home/index" class="logo"><img src="../../Content/images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li class="menu">
                        <a href="/Home/projects">Projects</a>

                    </li>
                    <li class="menu">
                        <a href="/Home/blog">Blog</a>

                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="body">
            <div class="header">
                <div>
                    <h1>spidQuad</h1>
                    <img src="../../Content/images/webpage pic/20160520_161956.jpg" alt="" width="1401" height="500">
                    <h2>spidquad robot mechanisum</h2>
                    <div>

                        <p>The necessity to utilize the usage of the robot cannot be denied since there are a lot of natural disasters occur everywhere around the world. The robot that can be used in this situation may be a remotely controlled by human or moves autonomously. Hexapod robot is one of the robots used in this situation because of its stability and flexibility during the motion on any type of surface. Hexapod robot is a robot that has six legs to walk or move. Since the robot has many legs, the robot is easily programmed to move around because it can be configured to many types of gait such as alternating tripod, quadruped and crawl. </p>

                        <p>There are various designs of hexapod with certain function and advantages. In this research, a hexapod robot with maneuverable wheel is designed and developed. The purpose of the hexapod robot with maneuverable wheel is to ease the movement either on the flat surface or on the inclined surface. On the flat surface, the robot will move using the maneuverable wheel while on incline surface; the robot will climb using its legs. The decisions for the robot to use either wheel or legs are based on the sensor devices and algorithm develops at the controller attached to the robot.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="connect">
                <div>
                    <h1>FOLLOW OUR  MISSIONS ON</h1>
                    <div>
                        <a href="https://www.facebook.com/jflabspakistan" class="facebook">facebook</a>
                        <a href="https://twitter.com/jflabspakistan" class="twitter">twitter</a>
                        <a href="" class="googleplus">googleplus</a>
                        <a href="" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote">
                <div>
                    <p>&copy; 2020 BY JF Labs | ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>