<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proj1 - Space Science Website </title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mobile.css">
    <script src="~/Content/Scripts/mobile.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="/Home/index" class="logo"><img src="../../Content/images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li class="menu">
                        <a href="/Home/projects">Projects</a>

                    </li>
                    <li class="menu">
                        <a href="/Home/blog">Blog</a>

                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="body">
            <div class="header">
                <div>
                    <h1>RELIEF ROBOT </h1>
                    <img src="../../Content/images/webpage pic/12247089_856860037760639_1513201077845676980_n.jpg" alt="">
                    <h2>Relief robot mechanisum</h2>
                    <p>During September 11 disasters rescue robots were first really tested. They were sent into the rubble to look for survivors and bodies. The robots had trouble working in the rubble of the World Trade Center and were constantly getting stuck or broken. Since then many new ideas have been formed about rescue robots. Engineers and scientists are trying to change the shapes of the robots and take them from wheels to no wheels. “Strong government funding and support is needed if search and rescued robots are to see widespread use in fewer than 14 years.” This means that without the help of government the technology for these devices are not available or they cost too much. These robots are very important in disaster scenarios and are hopefully taking a change for the better.</p>
                    <p>People like Daniel Goldman, a biophysicist at Georgia Tech, has started building a robot that Piore says “is less like an ATV and more like a sandfish lizard”. Goldman has been spending a lot of time researching and studying the movements of sandfish lizards and trying to develop that into his own robotic idea. Piore states that his robot will be able to “burrow deeper or snake its way back to the surface”. just like a sandfish lizard. This will be helpful in many disaster scenarios. Goldman is trying to develop this robot to be able to maneuver though such terrain as rubble, like in the World Trade Center disaster.</p>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="connect">
                <div>
                    <h1>FOLLOW OUR  MISSIONS ON</h1>
                    <div>
                        <a href="https://www.facebook.com/jflabspakistan" class="facebook">facebook</a>
                        <a href="https://twitter.com/jflabspakistan" class="twitter">twitter</a>
                        <a href="" class="googleplus">googleplus</a>
                        <a href="" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote">
                <div>
                    <p>&copy; 2020 BY JF Labs | ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>