<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proj1 - Space Science Website </title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mobile.css">
    <script src="~/Content/Scripts/mobile.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="/Home/index" class="logo"><img src="../../Content/images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li class="menu">
                        <a href="/Home/projects">Projects</a>

                    </li>
                    <li class="menu">
                        <a href="/Home/blog">Blog</a>

                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="body">
            <div class="header">
                <div>
                    <h1>Sun tracking heliostat</h1>
                    <img src="../../Content/images/webpage pic/20160311_164815.jpg" alt="" width="1000" height="500">
                    <h2>Sun tracking heliostat mechanisum</h2>
                    <p>The dual threats of energy depletion and global warming place the development of methods for harnessing renewable energy resources at the center of public interest. Solar energy is one of the most promising renewable energy resources. Our project include the design and fabrication of microcontroller based dual axis heliostat accompanied with a solar tracker that will continuously track the position of sun in the sky by using the sensors that give respective azimuth and elevation angles at that instant.</p>
                    <p>Microcontroller then calculates heliostat angles to rotate the heliostat in such a way so that incident sunlight is effectively reflected towards a stationary receiver which contains molten salt that gets heated and is then either stored or used in a steam turbine to generate electricity. Simple and portable structures are developed to demonstrate the process. Solar tracking is achieved with an average error of 1 degree and collector efficiency is 70% higher.</p>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="connect">
                <div>
                    <h1>FOLLOW OUR  MISSIONS ON</h1>
                    <div>
                        <a href="https://www.facebook.com/jflabspakistan" class="facebook">facebook</a>
                        <a href="https://twitter.com/jflabspakistan" class="twitter">twitter</a>
                        <a href="" class="googleplus">googleplus</a>
                        <a href="" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote">
                <div>
                    <p>&copy; 2020 BY JF Labs | ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>